<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br> <br>
            <h3>Create a New Listing</h3>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name = "listing[title]" placeholder="Enter Title" type = "text" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter Discription" type = "text" class="form-control" required></textarea>
                    <div class="invalid-feedback">Description Should be valid</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input name = "listing[image][url]"  type = "file" class="form-control" required>
                </div>
                <div class="row">
                     <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name = "listing[price]" placeholder="Enter Price" type="number" class="form-control" required>
                    <div class="invalid-feedback">price Should be valid</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name = "listing[country]" placeholder="Enter Country" type = "text" class="form-control" required>
                    <div class="invalid-feedback">Country Should be valid</div>
                </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name = "listing[location]" placeholder="Enter Location" type = "text" class="form-control" required>
                    <div class="invalid-feedback">Location Should be valid</div>
                </div>
                <br> <br>
                <button class="btn btn-dark">Add</button>
                <br> <br>
            </form>
        </div>
    </div>
</body>